 .about_img{
     padding-top: 40px;
     height:510px;
     width:728px;
}

 .about_us{
     padding-top:40px;
     padding-left:150px;
     padding-right:150px;
    font-size:32px;
    text-align:center;
}

@media screen and (max-width: 700px){
    .about_img{
        padding:0;
        height: auto;
        width: 100%;
    }

    .about_us{
        width: 100%;
       padding: 0px;
        font-size: 22px;
        overflow-x: hidden;
    }
}


