
.form_box{
    display: block;
    margin: auto;
    text-align:center;
    font-size:30px;
    padding:100px;
    background-color:rgb(61, 61, 63);
    border-radius:30px;
}

.btn_submit{
    border-radius:32px;
    color:#FFF;
    background-color:rgb(83, 83, 81);
    padding:12px;
    width:220px;

}
.btn_submit:hover{
    color: #FFF;
    background-color: transparent;
    border-color: rgb(83, 83, 81);
    cursor:pointer;
}

input{
    text-align:center;
}

select{
    text-align:center;
}

@media (max-width: 700px){
.form_box{
    width: 100%;
    margin: 0;
    padding: 0;
    
    font-size:22px;
}
.textArea{
    width:80%;
}

}
