.container{
    width:100%;
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.min-height{
    min-height: 85%;
    color:white;
    text-align:center;

}

.start{
    justify-content: flex-start;
}
.column{
    flex-direction: colunm;
    justify-content: flex-start;
}
