* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open-Sans', sans-serif; 
  }
  
  html,body, #root {
    background-color: rgb(71, 69, 69);
    height: 100%;
  }

  img.d-block.w-100{
    height:800px;
}